In [1]:
import pandas as pd

In [37]:
df = pd.read_csv('muay_thai/data/15.csv')
df[['clip_name', 'threshold', 'left_index_x', 'left_index_y', 'right_index_x', 'right_index_y']].head(9)

,clip_name,threshold,left_index_x,left_index_y,right_index_x,right_index_y
0,15_1,10,0.544166,0.458165,0.511471,0.419094
1,15_1,20,0.545551,0.467120,0.509140,0.419704
2,15_1,30,0.562433,0.372671,0.506123,0.435827
3,15_1,40,0.579780,0.324122,0.576346,0.320442
4,15_1,50,0.549371,0.520057,0.565075,0.521640
5,15_1,60,0.581117,0.415823,0.565254,0.418932
6,15_1,70,0.558997,0.447245,0.536606,0.438140
7,15_1,80,0.514204,0.488501,0.496259,0.460905
8,15_1,90,0.540936,0.489083,0.501790,0.454551

## Example 1

In [38]:
df2 = df.iloc[0:9][['left_index_x', 'left_index_y']].diff()

In [39]:
df2.dropna(how='all', inplace=True)

In [40]:
df2

   left_index_x  left_index_y
1      0.001385      0.008955
2      0.016883     -0.094450
3      0.017347     -0.048549
4     -0.030409      0.195935
5      0.031746     -0.104233
6     -0.022120      0.031422
7     -0.044793      0.041256
8      0.026732      0.000583

In [41]:
df2['left_index_x_pow'] = df2['left_index_x'].pow(2)
df2['left_index_y_pow'] = df2['left_index_y'].pow(2)

In [42]:
df2['left_index'] = (df2['left_index_x_pow'] + df2['left_index_y_pow']) ** (1/2)

In [43]:
df2

   left_index_x  left_index_y  left_index_x_pow  left_index_y_pow  left_index
1      0.001385      0.008955          0.000002      8.018832e-05    0.009061
2      0.016883     -0.094450          0.000285      8.920751e-03    0.095947
3      0.017347     -0.048549          0.000301      2.356962e-03    0.051555
4     -0.030409      0.195935          0.000925      3.839042e-02    0.198280
5      0.031746     -0.104233          0.001008      1.086461e-02    0.108961
6     -0.022120      0.031422          0.000489      9.873245e-04    0.038427
7     -0.044793      0.041256          0.002006      1.702026e-03    0.060897
8      0.026732      0.000583          0.000715      3.397072e-07    0.026738

In [50]:
df3 = df.groupby('clip_name')[['left_index_x', 'left_index_y']].diff().head(50)